<footer class="custom-footer text-center text-light py-5">
    <div class="container">
        <h2 class="footer-title mb-4">Sudharshan's Portfolio</h2>
        <p class="footer-copy mb-2">
            © 2025 Sudharshan. All Rights Reserved.
        </p>
        <p class="footer-note small">
            Designed with ♥ using Angular, Bootstrap, Python, Flask and ShanAI.
        </p>
        <small>
            <a href="https://github.com/sudhar31/sudharshan-portfolio-backend" target="_blank" style="color:gray;">
                View Backend on GitHub
            </a>
        </small>
    </div>


    <button class="scroll-to-top" (click)="scrollToTop()" aria-label="Scroll to Top">
        <mat-icon>arrow_upward</mat-icon>
    </button>
</footer>