<section class="hero-section d-flex align-items-center justify-content-center text-center" id="home">
    <div class="overlay"></div>
    <div class="hero-content">
        <h1 class="display-4">Sudharshan Sethuraman</h1>
        <p class="lead">A full-stack Java developer crafting elegant code, flirting with artificial intelligence, and
            contributing to the collective wisdom of open source, one commit at a time.</p>

        <div class="scroll-down" (click)="scrollToSection('about')">
            <i class="material-icons">▼</i>
        </div>
    </div>
</section>